@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family:Mulish, sans-serif;
    font-weight: 300;
}


#club-logo {
    float: left;
    width:150px;
    height:150px;
    margin-left: 25px;
}

#menu li {
    float:right;
    margin-right:25px;
    list-style-type: none;
}

#menu , #club-logo {
    line-height: 100px;
}

header {
    background-image: url('../images/header-background.jpg') no-repeat center center;
}
