@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Raleway:wght@300&family=Tangerine:wght@700&display=swap');


* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family:Mulish, sans-serif;
    font-weight: 300;
    background-image: url(../images/cover-photo.jpg);
}

/* header */
#club-logo {
    float: left;
    margin-left: 25px;
    font-size: 250%;
}

#menu li {
    float:right;
    margin-right:25px;
    list-style-type: none;
    font-family:'Tangerine', cursive;
    font-size: 150%;
}

#menu a {
    text-decoration: none;
    color:#fff;
    font-weight: 600;
}

#menu a:hover {
    border-bottom: 2px solid #fff;
}

#menu , #club-logo {
    line-height: 100px;
    color: #fff;
}

.active {
    font-size: 125%;
    font-weight: 900;
    border-bottom: 2px solid #fff;
}

nav {
    width: 100%;
    height:100px;
    background-color: #000;
}

h2 , h1 {
    color:gold;
    font-family:'Tangerine', cursive;
}
/* body */

#page-title {
    margin:0 auto;
    text-align: center;
    
}
#about-club {
    background: rgba(0, 0, 0, 0.8);
    width: 75%;
    height: 800px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    color: #fff;

}


#about-text {
    float: left;
    width: 25%;
   padding:25px;
}

#about-text > img{
    max-width: 100%;
    padding-top: 25px;
}
 #food-text {
    width: 25%;
    float: right;
    padding: 25px;
}

#food-text > img {
    max-width: 100%;
    padding-top: 25px;

}

#community {
    margin: 0 auto;
    width: 25%;
    padding: 25px;

} 

 #community > img {
    max-width: 100%;
    padding-top: 25px;
}
 

 /* footer  */
footer {
    padding: 25px;
    background-color: #000;
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #fff;
}
#facebook i:hover {
    color:#3b5998;
}

#twitter i:hover {
    color:#1DA1F2;
}

#youtube i:hover {
    color:#FF0000;
}

#instagram i:hover {
    color: salmon;
}

hr {
    border-top: 1px solid #fff;
    width: 100%;
}
